@media(max-width: 1280px){
    .cabecalho .titulo{
        font-size: 2.5rem;
    }

    .selecao-de-personagens .lista-de-personagens{
        max-width: 20.625rem ;
    }

    .selecao-de-personagens .lista-de-personagens .personagem{
        width: 6.25rem;
        height: 6.25rem;
    }    
}

@media(max-width:767px){
    body::before{
        background-image: url("../img/bg-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity:1;
    }

    main{
        padding: 0 5px;
        justify-content: start;        
    }

    .cabecalho .titulo{
        font-size: 1.375rem;
    }

    .selecao-de-personagens .personagem-grande{
        display: none;
    }
}


@media(max-width: 360px){
    .cabecalho .titulo{
        font-size: 1.2rem;
    }
}
